<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <appender name="defaultAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <springProfile name="!(default | local | dev)">
        <logger name="jsonLogger" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="consoleAppender"/>
        </root>
    </springProfile>
    <springProfile name="default | local | dev">
        <root level="INFO">
            <appender-ref ref="defaultAppender"/>
        </root>
    </springProfile>
</configuration>
